---
---
$primary: #366186;
$info: #4d7ca5;
$pagination-current-background-color: $info;
$pagination-current-border-color: $info;
// Dark colour scheme, then main CSS file from theme
@import "dark";
@import "main";